.collection-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;


    .title {
        font-size: 28px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }

    .preview {
        min-height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        // & > .collection-item {
        //     display: flex;
        //     flex-basis: calc(50% - 40px);
        //     justify-content: center;
        //     flex-direction: column;
        
        //     & > .collection-item {
        //         display: flex;
        //         justify-content: center;
        //         flex-direction: row;
        //     }
    }
    
}


