nav {
  position: sticky;
  top: 0;
  z-index: 100;

  .header {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background-color: white;
    .isClicked {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .logo-container {
      height: 100%;
      display: flex;
      align-items: center;

      .logo {
        width: 15rem;
      }
    }

    .nav-links {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .links {
      padding: 10px 15px;
      font-size: 14px;
      cursor: pointer;
    }

    .btn-links-container {
      display: flex;
      align-items: center;

      .btn-links {
        font-size: 28px;
        padding: 10px 15px;
      }
    }
    .burger-menu {
      display: none;
    }
  }
}

@media screen and (max-width: 900px) {
  #burger-menu {
    display: flex;
    z-index: 100;
    z-index: 999;
  }

  #nav-links {
    background-color: white;
    box-shadow: 1px 0 3px -2px #888;
    position: fixed;
    top: 0;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    z-index: 998;
  }

  #btn-links {
    font-size: 23px;
    padding: 6px;
  }

  .links {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
